example-diff.aux
example-diff.log
example-diff.pdf
example-diff.tex
latexdiff-*.tar.gz
latexdiff-man.aux
latexdiff-man.log
latexdiff-vc.aux
latexdiff-vc.tex
latexdiff.aux
latexdiff.tex
latexrevise.aux
latexrevise.tex
dist
latexdiff-?.*.*
*~
latexdiff.debug.*
texput.log
private
#latexdiff#
*-scratch
*out
*fdb_latexmk
*bbl
*fls
*bcf
*synctex*
*xml
bibliography.bib
revtex-bibliography-diffNotes.bib

