example-diff.aux
example-diff.log
example-diff.pdf
example-diff.tex
latexdiff-*.tar.gz
latexdiff-man.aux
latexdiff-man.log
latexdiff-vc.aux
latexdiff-vc.tex
latexdiff.aux
latexdiff.tex
latexrevise.aux
latexrevise.tex
dist
latexdiff-?.*.*
*~
latexdiff.debug.*
texput.log
private

